body {
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size: 20px;
	color: #ffffff;
	background:linear-gradient(rgb(231, 198, 11), rgb(228, 15, 125));
	margin: 0;
	padding: 0;
}
#h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}