*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header-div { 
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 600px;
    background-image: url("https://static.wixstatic.com/media/3b1f25_7f7945e9813444d0a1e354c60bf1bd10.jpg/v1/fill/w_1899,h_813,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/3b1f25_7f7945e9813444d0a1e354c60bf1bd10.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

#title {
    position: relative; 
    justify-content: center;
    color: rgb(78, 16, 120);
    text-align: center;
    font-size: 30px;
    top: 30px;
}

#title pre{ 
    margin: auto;
    font-family: serif;
    border: 7px solid rgb(106, 9, 171);
   /* box-shadow: 8px 4px 5px 25px rgb(109, 78, 149) inset;*/
    padding: 20px;
    text-shadow: 6px 5px 8px rgba(41, 38, 44, 0.9);
    width: 42%;
    z-index: 1;
    /*transform: translateX(77%);*/
}

#quote {
    position: relative;
    justify-content: center;
    text-align: center;
  /*  width: 50%;
    height: 400px; */
    font-size: 80px;
    top: 35px;
}

#quote pre{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-style: italic;
}

#nav{
    width: 100%;
    height: 100px;
   /* background-color: blueviolet;*/
    text-align: center;
}

.navigation{
    position: relative;
    display: inline-block;
    padding: 80px 20px 20px; 
}

.navigation a{
    text-decoration: none; 
    font-weight: bold;
    color: rgba(0, 0, 0, 0.575);
    padding: 10px;
}

.navigation a:hover{
    background-color: black;
    color: whitesmoke;
}

.women{
    position: relative;
    text-align: center;
    margin: 60px;
}

.women img{
    width: 30%;
    height: auto;
}

.women span{
    position: absolute;
    left: 20%;
    bottom: 0;
    transform: translateY(-170px);
    color: whitesmoke;
    font-size: 60px;
    font-weight: bolder;
}

.men{
    position: relative;
    margin: 60px;
    text-align: center;
}

.men img{
    width: 30%;
    height: 500px;
}

.men span{
    position: absolute;
    color: whitesmoke;
    font-size: 60px;
    font-weight: bolder;
}