#gallery img{
   box-shadow: 2px 2px 10px 3px rgba(60, 60, 60, 0.597);
}
#gallery img:hover{
    box-shadow: 10px 10px rgba(255, 0, 0, 0.96);
}
.caption{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.533);
    font-style: italic;
    font-weight: 500;
}